// RESPONSIVE BREAKPOINTS
$bp-big : 112.5em; // 1800px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;


@mixin respond ($breakpoint) {

    @if $breakpoint==big {
        @media only screen and (min-width : $bp-big) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (max-width : $bp-largest) {
            @content;
        }
    }

    @if $breakpoint== tab-land {
        @media only screen and (max-width : $bp-large) {
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width : $bp-medium) {
            @content;
        }
    }

    @if $breakpoint==phone {
        @media only screen and (max-width : $bp-small) {
            @content;
        }
    }
}