.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(6rem,1fr) 
                        [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) [center-end] 
                        minmax(6rem,1fr) [full-end];

    @include respond(tab-land){
        grid-template-rows: 5rem 80vh min-content 40vw minmax(40vw,min-content) repeat(3,min-content);
        grid-template-columns: [full-start] minmax(6rem,1fr) 
                                [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) [center-end] 
                                minmax(6rem,1fr) [full-end];
    }

    @include respond(tab-port){
        grid-template-rows: 5rem 80vh min-content min-content 40vw minmax(40vw,min-content) repeat(3,min-content);
        grid-template-columns: [full-start] minmax(6rem,1fr) 
                                [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) [center-end] 
                                minmax(6rem,1fr) [full-end];
    }
}

.sidebar{
    grid-row: 1/-1;
    grid-column: sidebar-start/ sidebar-end;

    @include respond(tab-land){
        grid-row: 1/2;
        grid-column: 1/-1;

        justify-content: flex-end;
        align-items: center;
    }
}

.header{
    grid-row: 1/2;
    grid-column: full-start/ col-end 6;

    @include respond(tab-land){
        grid-row: 2/3;
    }

    @include respond(tab-port){
        grid-column: 1/-1;
    }
}

.realtors{
    grid-row: 1/2;
    grid-column: col-end 6/ full-end;

    @include respond(tab-land){
        grid-row: 2/3;
    }

    @include respond(tab-port){
        grid-row: 3/4;
        grid-column: 1/-1;
    }
}

.features{
    grid-row: 2/3;
    grid-column: center-start/ center-end;

    @include respond(tab-land){
        grid-row: 3/4;
    }

    @include respond(tab-port){
        grid-row: 4/5;
    }
}

.story__pictures{
    grid-row: 3/4;
    grid-column: full-start/ col-end 4;

    @include respond(tab-land){
        grid-row: 4/5;
        grid-column: full-start/ full-end;
    }

    @include respond(tab-port){
        grid-row: 5/6;
    }
}

.story__text{
    grid-row: 3/4;
    grid-column:  col-end 4/full-end;

    @include respond(tab-land){
        grid-row: 5/6;
        grid-column: full-start/ full-end;
    }

    @include respond(tab-port){
        grid-row: 6/7;
    }
}

.homes{
    grid-row: 4/5;
    grid-column: center-start/ center-end;

    @include respond(tab-land){
        grid-row: 6/7;
    }

    @include respond(tab-port){
        grid-row: 7/8;
    }
}

.gallery{
    grid-row: 5/6;
    grid-column: full-start/ full-end;

    @include respond(tab-land){
        grid-row: 7/8;
    }

    @include respond(tab-port){
        grid-row: 8/9;
    }

}

.footer{
    grid-row: 6/-1;
    grid-column: full-start/ full-end;

    @include respond(tab-land){
        grid-row: 8/-1;
    }

    @include respond(tab-port){
        grid-row: 9/-1;
    }
}