.features{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(30rem,1fr));
    grid-gap:6rem;
    margin: 10rem 0;


    &__feature{
        display: grid;
        align-content: end;
        grid-template-columns: min-content 1fr;
        grid-gap: 1rem 3rem;
    }
    
}

.feature{
    &__text{
        font-size: 1.7rem;
        color:$color-grey-dark-2;
        font-family: $font-primary;
        font-weight: 100;
    }

    &__svg{
        width: 4.5rem;
        grid-row:1/span 2;
        fill:$color-primary;
        transform: translateY(-6rem);
    }
}
