.footer{
    background-color: $color-secondary;
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);

    &__nav{
        grid-row: 1/ span 1;
        grid-column: 1/-1;
        margin:3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        grid-gap: 2rem;
    }

    &__text{
        grid-column: 1/-1;
        text-align: center;
        color:$color-grey-light-2;
        font-size: 1.5rem;
        margin:6rem;
    }
}

.nav{
    display: inline-block;
    text-align: center;
}

.btn-footer{
    background-color: inherit;
    font-weight: 400;
    padding:1.5rem;
    line-height: 1.6;
    font-size: 1.4rem;
    transition: all .2s;

    &:hover{
        background-color: #1e344d;
    }
}

