.gallery {
    background-color: $color-grey-light-1;
    padding: 4rem 2rem;


    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 2rem;

    &__imageContainer {
        &-1 {
            grid-row: 1/3;
            grid-column: 1/3;
        }

        &-2 {
            grid-row: 1/4;
            grid-column: 3/7;
        }

        &-3 {
            grid-row: 1/3;
            grid-column: 7/8;
        }

        &-4 {
            grid-row: 1/3;
            grid-column: 8/-1;
        }

        &-5 {
            grid-row: 3/6;
            grid-column: 1/3;
        }

        &-6 {
            grid-row: 4/6;
            grid-column: 3/6;
        }

        &-7 {
            grid-row: 4/5;
            grid-column: 6/7;
        }

        &-8 {
            grid-row: 3/5;
            grid-column: 7/10;
        }

        &-9 {
            grid-row: 3/6;
            grid-column: 10/-1;
        }

        &-10 {
            grid-row: 6/8;
            grid-column: 1/2;
        }

        &-11 {
            grid-row: 6/8;
            grid-column: 2/5;
        }

        &-12 {
            grid-row: 6/8;
            grid-column: 5/6;
        }

        &-13 {
            grid-row: 5/8;
            grid-column: 6/10;
        }

        &-14{
            grid-row: 6/8;
            grid-column: 10/-1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}