.header{
    background-image: linear-gradient(to right,rgba($color-secondary,.9),rgba($color-secondary,.9)),url(../../img/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:3rem 8rem;

    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem 1rem;

    &__logo{
        grid-row:1/2;
        grid-column: 2/3;
        text-align: center;
        
        & > img{
            height: 3rem;
        }
    }

    &__h3{
        grid-row: 4/5;
        grid-column: 1/3;
        text-transform: uppercase;
        & > h3{
            font-size: 1.5rem;
        }
    }

    &__h1{
        grid-row: 5/6;
        grid-column: 1/-1;
        color:$color-grey-light-1;
        font-family: $font-display;
        text-transform: capitalize;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1;
    }

    &__btn{
        grid-row: 6/7;
        grid-column: 1/3;
    }

    &__seen{
        grid-row: 8/9;
        grid-column: 1/-1;
        color:$color-grey-light-1;
        font-size: 1.2rem;
        text-transform: capitalize;
        align-self: end;

        &-text{
            display: grid;
            grid-template-columns: 45% 10% 45%;

            align-items: center;
            justify-items: center;
            &::before,
            &::after{
                content: "";
                height: 1px;
                border:1px solid #fff;
                width: 100%;
                background-color: #fff;
            }
        }
    }

    &__company{
        grid-row: 9/10;
        grid-column: 1/-1;

        display: grid;
        grid-template-columns: repeat(4,1fr);

        align-items: center;
        justify-items: center;

        &-logo{
            height:2rem;
        }
    }
}