.homes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-row: auto;
    grid-gap:7rem;
    margin:10rem 0;
    align-content: center;
}

.home{
    background-color: $color-grey-light-1;
    text-align: center;
    position: relative;

    &-svg{
        width: 2rem;
        height: 2rem;
        fill:$color-primary;
        margin-right:1rem;
        

        &--heart{
            width: 3rem;
            height: 3rem;
            position: absolute;
            top:1rem;
            right: 1rem;
        }
    }

    &-img{
        width: 100%;
    }

    &-label{
        background-color: $color-secondary;
        color:$color-grey-light-1;
        font-family: $font-display;
        font-style: italic;
        font-size: 1.6rem;
        width: 70%;
        padding:1rem 1rem;
        transform: translateY(-3rem);
        margin: 0 auto;
    }

    &-details{
        margin: 3rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 3rem;
        font-size: 1.5rem;
        color:$color-grey-dark-2;
        align-content: start;
        justify-items: center;

    }

    & button{
        width: 100%;
    }
}
