.realtors{
    background-color: $color-secondary;
    padding: 10rem 6rem;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    &__realtor{
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 2rem 5vh;
        align-items: center;

        @include respond(tab-port){
            grid-template-columns: repeat(3,min-content max-content);
        }

        @include respond(phone){
            grid-template-columns:min-content max-content;
        }
    }
}

.realtor{

    &-details{
        color:$color-grey-light-1;
        font-family: $font-display;
    }
    &__img{
        width: 7rem;
        border-radius: 50%;
    }

    &__name{
        font-size: 2rem;
        font-weight: 400;
    }

    &__sales{
        font-size: 1.5rem;
        font-weight: 300;
        font-family: $font-primary;
    }
}