.sidebar{
    background-color: $color-primary;
    color:$color-grey-light-1;
    text-align: center;


    &__container{
        margin-top:2rem;
        width: 100%;

        @include respond(tab-land){
            margin-top: 2.3rem;
            width: 6%;
            float: right;
        }
    }
    &__dash {

        border:1px solid #fff;
        width: 65%;
        position: relative;
        background-color: #fff;        
        border-radius: 1rem;

        &::before,&::after{
            position: absolute;
            content: "";
            border:1px solid #fff;    
            background-color: #fff;
            border-radius: 1rem;
        }

        &::before{
            top:-2.0rem;
            width: 65%;
            left:0;
        }

        &::after{
            width: 85%;
            top:-1.0rem;
            left:0;
        }
    }

}