.story{

    &__pictures{
        background-image: linear-gradient(to right,rgba($color-primary,.5),rgba($color-primary,.5)),url(../../img/back.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        align-items: center;

        @include respond(tab-land){
          overflow: hidden;
        }

        &--pic1{
            grid-column: 2/6;
            grid-row: 3/5;
            width: 100%;
            box-shadow: 0rem 2rem 5rem rgba($color: #000000, $alpha:.4);
        }

        &--pic2{
            grid-column: 4/-1;
            grid-row: 3/-1;
            width: 125%;
            z-index: 10;
            box-shadow: 0rem 2rem 5rem rgba($color: #000000, $alpha:.4);
        }
    }

    &__text{
        display: grid;
        padding:6rem 8vw;
        align-content: center;
        justify-items: start;
        background-color: $color-grey-light-1;

        &-text{
            font-size: 1.7rem;
            color:$color-grey-dark-2;
            font-family: $font-primary;
            margin-bottom: 3rem;
            font-style: italic;
        }

        & h3{
            color:$color-primary;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        & h2{
            line-height: 1;
            font-style: italic;
            margin-bottom: 2rem;
        }
    }
}