*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.7;
    color:$color-primary;

    @include respond(big){
        font-size:125.0%;
    }

    @include respond(tab-land){
        font-size:55.0%;
    }

    @include respond(tab-port){
        font-size:45.0%;
    }

    @include respond(phone){
        font-size:40.0%;
    }
}