.heading{

    &-h2{
        font-size:4rem;
        font-family: $font-display;
        font-weight: 400;
        color:$color-secondary;

        &__dark{
            color:rgba($color: #000000, $alpha: .7);
        }

        &__light{
            color:$color-grey-light-1;
        }
    }

    &-h3{
        font-size:2rem;
        font-family: $font-display;
        font-weight: 400;

        &__dark{
            color:rgba($color: #000000, $alpha: .7);
        }

        &__light{
            color:$color-grey-light-1;
        }
    }
}

.btn {

    &-main{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: $font-display;
        font-weight: 400;
        color:$color-grey-light-1;
        background-color: $color-primary;
        border: none;
        padding:1.5rem 2rem;
        transition: all .2s;

        &:hover{
            background-color: $color-primary-dark;
        }
    }
}